.header{
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
    font-size:50px;
    width: 100%;
    display: block;
    clear: both;
    font-family: 'Amatic SC', cursive;
}
.list{
    height:auto;
<<<<<<< HEAD
<<<<<<< Updated upstream
    background-color: #bafaff;
=======
    background-color: #a9f9ff;
>>>>>>> Stashed changes
=======
    background-color: aqua;
>>>>>>> parent of 2f551e1 (floatleft)
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}
li{
    list-style: none;
}
.contents{
    float: left;
}
body {
    display: block;
    background-color: #f5feff;
}
#calendar {
    max-width: 850px;
    min-width: 600px;
    max-height: fit-content;
    width: 850px;
}
#msgarea {
    position:relative;
    top: 10px;
    left: 100px;
    margin-left: 10px;
    width: 400px;
    border: 1px solid;
}
/* イベントのタイトルに時間を表示させない */
.fc-event-time {
    display: none;
}
